/******************
  Fonts
********************/
/*
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*/
/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../theme/fonts/inter-v7-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../theme/fonts/inter-v7-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../theme/fonts/inter-v7-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../theme/fonts/inter-v7-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../theme/fonts/inter-v7-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../theme/fonts/inter-v7-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../theme/fonts/inter-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../theme/fonts/inter-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../theme/fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../theme/fonts/inter-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../theme/fonts/inter-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../theme/fonts/inter-v7-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../theme/fonts/inter-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../theme/fonts/inter-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../theme/fonts/inter-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../theme/fonts/inter-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../theme/fonts/inter-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../theme/fonts/inter-v7-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/*******************************
    Global
*******************************/
body {
  font-family: 'Inter', sans-serif;
}

/*******************************
    header
*******************************/
#testata {
  position: relative;
}

#testata_img {
  /*
  margin: 0 -15px;
  */
}

#testata_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
}

#testata_img {
  position: relative;
}

#header_cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#testata_content .logo {
  padding: 45px 0;
  margin-bottom: 60px;
}

#testata_content .logo img {
  max-height: 150px;
  width: auto;
  margin: 0 30px;
}

#testata_content h1 {
  margin-bottom: 90px;
  font-weight: bold;
}

#testata_content .bg_red {
  display: inline-block;
  font-size: 1.2rem;
}

.bg_red {
  color: #fff;
  background-color: #8F0000;
  border: 1px solid #8F0000;
  padding: 15px 30px;
  font-weight: bold;
  text-decoration: none;
}

.bg_red:hover,
.bg_red:active,
.bg_red:focus {
  background-color: #F5F5F5;
  border: 1px solid #8F0000;
  color: #8F0000;
  text-decoration: none;
  box-shadow: 0 0 0 0.2rem rgb(143 0 0 / 50%);
}

.bg_red:not(:disabled):not(.disabled).active,
.bg_red:not(:disabled):not(.disabled):active,
.show>.bg_red.dropdown-toggle {
  color: #fff;
  background-color: #8F0000;
  border-color: #8F0000;
}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary {
  color: #fff;
  background-color: #8F0000;
  border-color: #8F0000;
}

.header-button .bg_red {
  padding: 15px 60px;
}

/***********************
  Main
*************************/
.green-box {
  background-color: #339966;
  color: #fff;
  padding: 60px;
  font-weight: bold;
  font-size: 1.75rem;
}

.green-triangle-wrapper {
  display: flex;
  justify-content: center;
}

.green-triangle {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 33px solid #339966;
  margin-bottom: 30px;
}

#what-is {
  margin-bottom: 90px;
}

#what-is .intro {
  margin-bottom: 90px;
}

#what-is .intro h3 {
  font-weight: bold;
}

.box-wrapper {
  position: relative;
}

#what-is .box-container {
  display: inline-block;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #339966;
}

#what-is .graybox {
  background-color: #F5F5F5;
  padding: 15px;
  margin: -30px 30px 30px -30px;
  width: 368px;
  height: 306px;
}

#what-is .graybox .icon img {
  height: 150px;
  width: auto;
  margin-bottom: 15px;
}

.graybox h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.greenline {
  position: absolute;
  width: 115%;
  top: 50%;
  left: -7.5%;
  transform: translateY(-50%);
  border: 2px solid #339966;
  z-index: -1;
}

/*******************************
    Cards
*******************************/
#cards-grid>.row {
  margin: 0 -120px;
}

.card_wrapper {
  margin-bottom: 24px;
}

.card_button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card_title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s linear all;
}

.preview_title{
  text-align: center;
  padding-top: 5px;
}

.card_title h3 {
  font-size: 20px;
  padding: 5px 15px;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.card_img {
  position: relative;
  height: 250px;
  width: 100%;
}

.card_img::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url(../img/invia.svg);
  width: 50px;
  height: 50px;
  display: none;
}

.card_img img.card_teaserimg {
  width: auto;
  max-width: 100%;
  height: 375px;
  margin: auto;
  display: block;
  background-color: #000;
  transition: 0.2s linear all;
}

.card_button:hover img.card_teaserimg {
  /* transform: scale(1.2); */
  opacity: 0.2;
}

.card_button:hover .card_title {
  /* height: 80px; */
  background-color: rgba(41, 41, 41, 0.8);
}

.card_button:hover .card_img {
  background-color: rgba(41, 41, 41, 0.8);
}

.card_button:hover .card_img::after {
  display: block;
}

.card_button p{
  font-size: 13px;
  line-height: 20px;
}

.cards-info {
  margin: 60px auto;
}

/*******************************
    Modal
*******************************/
.form_block {
  margin-bottom: 1rem;
}

.form_block:nth-child(1) {
  margin-bottom: 45px;
}

.form_block h3 {
  font-weight: bold;
}

.form-group>* {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}

.card_author,
.licence,
.card_full_link  {
  margin: 15px 0;
}

.modal-body a {
  text-decoration: none;
  color: #11689c;
  font-weight: bold;
}

.modal-body a:hover {
  text-decoration: underline;
}

.modal-content {
  border-radius: 0;
}

.modal-content button {
  background-color: #8F0000;
  color: #fff;
  border: 0;
}

.licence_icon{
  height: 15px;
  width: auto;
}

.licence p a{
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
}


.licence p a img{
  display: inline-block;
  margin-right: 10px;
}

.licence p a:hover{

}

.btn.sendform {
  float: right;
  border-radius: 0;
  border-color: #8F0000;
  cursor: default;
  opacity: 0.5;
}

.btn.sendform:hover {
  background-color: #8F0000;
}

.btn.sendform.enabled:hover {
  background-color: #F5F5F5;
  border-color: #11689c;
  color: #11689c;
}

.btn.sendform.enabled {
  cursor: pointer;
  opacity: 1;
  background-color: #11689c;
  border-color: #11689c;
  position: relative;
  z-index: 1;
}

.thumbs-up {
  color: #11689c;
  margin: 30px 0;
  font-size: 4rem;
}

/***************
  PERCHÈ DONARE
****************/
#why-donate {
  background-image: url('../img/pietrapertosa.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 90px;
  position: relative;
}

#why-donate .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.45;
  z-index: 1;
}

#why-donate .container {
  position: relative;
  z-index: 2;
}

#why-donate h3 {
  margin-bottom: 30px;
  font-weight: bold;
}

#why-donate .donate-link {
  margin-top: 60px;
}

.icons.row {
  text-align: center;
  font-weight: bold;
}

#why-donate .icon img {
  max-width: 75px;
  margin-bottom: 15px;
}

#why-donate .description {
  margin: 0 auto;
}

/****************************/
#do-you-know {
  margin-bottom: 60px;
}

#do-you-know .col-md-4,
footer .col-md-4 {
  padding: 0 45px;
}

#do-you-know .col-md-4:nth-child(1),
footer .col-md-4:nth-child(1) {
  padding-left: 0;
}

#do-you-know .graybox {
  background-color: #F5F5F5;
  padding: 15px;
  padding: 0 30px;
  padding-bottom: 15px;
  margin: 0 auto;
}

#do-you-know .col-md-4:nth-child(1) .graybox {
  padding: 0 75px;
  padding-bottom: 15px;
}

#do-you-know .graybox .triangle {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 33px solid #fff;
  margin-bottom: 30px;
}

#do-you-know .graybox .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#do-you-know .logo {
  width: auto;
  margin: 45px auto;
}

#do-you-know .logo img {
  height: 150px;
  width: auto;
}

#do-you-know .logo.sostienici img {
  background: #339966;
  border-radius: 100%;
}

/**************
  FOOTER
***************/
footer {
  padding: 90px;
  background-color: #F2F2F2;
}

footer h6 {
  font-weight: bold;
}

footer a:hover {
  color: #8F0000;
}

footer * {
  color: #000;
}

footer .col-left {
  display: flex;
  flex-direction: column;
  justify-content: unset;
}

footer .col-left a {
  font-weight: bold;
  text-decoration: none;
}

footer .col-center p {
  font-size: 14px;
}

footer .icons>div {
  display: inline-block;
  margin-right: 30px;
  font-size: 2rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.fb * {
  color: #3C5897;
}

.twitter * {
  color: #1DA1F1;
}

.yt * {
  color: #EE3123;
}

.ig * {
  /* linear-gradient(145deg,#c40092 0%,#e40031 100%) */
  color: #e40031;
}

.col-right h4 {
  margin-bottom: 25px;
  font-weight: bold;
  color: #339966;
}

/*********************
  MEDIA QUERY
*********************/

@media screen and (max-width: 1600px) {
  #cards-grid>.row {
    margin: 0 0px;
  }

  .greenline {
    left: -3.5%;
    width: 107%;
    margin: auto;
  }
}

@media screen and (max-width: 1440px) {


  #testata_content .logo img {
    max-height: 100px;
  }

  #testata_content h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }


  .greenline {
    left: -2%;
    width: 104%;
  }

}

@media screen and (max-width: 1366px) {


  #testata_content h1 {
      margin-bottom: 30px;
      font-weight: bold;
  }

  #do-you-know .col-md-4, footer .col-md-4 {
    padding: 0 30px;
  }

  #do-you-know .logo img {
    height: 120px;
  }

  #do-you-know .col-md-4:nth-child(1) .graybox {
    padding: 0 60px;
    padding-bottom: 15px;
  }

  .greenline {
    left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {


  #testata_content .logo {
    margin-bottom: 0;
  }

  #testata_content .bg_red {
    margin-top: 0;
  }

  #what-is .graybox {
    width: 275px;
    height: 300px;
  }

  .card_img img.card_teaserimg {
    height: 275px;
  }

  #do-you-know .col-md-4:nth-child(1) .graybox {
    padding: 0 50px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 991px) {
  #testata_content .logo img {
    max-height: 60px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .header-button .bg_red {
    padding: 5px 60px;
  }

  .green-box {
    background-color: #339966;
    color: #fff;
    padding: 30px;
    font-weight: bold;
    font-size: 1rem;
  }

  #what-is .intro {
    margin-bottom: 60px;
  }

  #what-is .graybox {
    width: 200px;
    height: 350px;
    margin: -15px 15px 15px -15px;
  }

  #do-you-know .logo img {
    height: 100px;
  }

  .bg_red {
    padding: 10px;
  }

  #do-you-know .col-md-4, footer .col-md-4 {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  #testata_content .logo {
    margin-bottom: 60px;
  }

  #testata_content .bg_red {
      font-size: 1.2rem;
  }


  .green-triangle {
    margin-top: -1px;
  }

  .box-wrapper .col-md-4 {
    margin-bottom: 30px;
  }

  #what-is .graybox {
    width: 300px;
    height: 300px;
    margin: -15px 15px 15px -15px;
  }

  .greenline {
    display: none;
  }

  #why-donate {
    padding: 30px;
  }

  .bg_red {
    padding: 10px;
    font-size: 1.2rem;
    display: block;
    text-align: center;
  }

  #do-you-know .col-md-4:nth-child(1), footer .col-md-4:nth-child(1) {
    padding-left: 15px;
  }

  .card_img img.card_teaserimg {
    width: 100%;
    height: auto;
  }

  footer {
    padding: 30px;
  }
}

@media screen and (max-width: 540px) {


  .card_wrapper{
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
  }
  .card_img img.card_teaserimg {
      width: auto;
      height: 100%;
  }

}
